* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: #111;
}

html,
body {
  width: 100%;
  height: 100%;
}

#main {
  width: 100%;
  height: 100%;
  /* background-color: #111; */
}

#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

#nav a {
  text-decoration: none;
  padding: 10px;
}

.left-nav {
  margin-left: 30px;
}

.right-nav {
  margin-right: 30px;
}

.middle-nav {
  text-transform: uppercase;
  font-size: 20px;
}

#main > h1 {
  padding-left: 40px;
  font-size: 250px;
  font-weight: 200;
}

#btmleft {
  position: absolute;
  bottom: 25%;
  left: 3.5%;
}

#btmleft h3 {
  font-size: 15px;
}

#btmleft p {
  font-size: 12px;
  margin-top: 5px;
}

#btmleft h4 {
  margin-top: 50px;
  font-size: 15px;
}

#bottombar {
  display: flex;
  justify-content: space-between;
  position: absolute;
  align-items: center;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 30px 50px;
}

#bottombar a {
  text-decoration: none;
  font-size: 20px;
}

#bottombar h2 {
  font-size: 20px;
  font-weight: 200;
}

#main > img {
  position: absolute;
}

#main #first {
  height: 300px;
  top: 40%;
  left: 51.5%;
}
#main #second {
  height: 150px;
  top: 60%;
  left: 45%;
}
#main #third {
  height: 180px;
  top: 50%;
  left: 38%;
}
